./articles/
./articles/*
./projects/tests/vendor
./projects/tests/vendor/*
./projects/example/vendor
./projects/example/vendor/*
./projects/example_config/vendor
./projects/example_config/vendor/*
./projects/phar/vendor
./projects/phar/vendor/*

