<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./projects/tests/vendor/autoload.php">
    <testsuites>
        <testsuite name="progpilot Test Suite">
            <file>./projects/tests/run_all.php</file>
            <file>./projects/tests/run_all_folders.php</file>
            <file>./projects/tests/run_exclude_files.php</file>
            <file>./projects/tests/run_flows.php</file>
        </testsuite>
    </testsuites>

</phpunit>
