name: Main
on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: "ubuntu-latest"
    name: "PHP ${{ matrix.php-version }} Unit Tests"
    strategy:
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          tools: composer:v2
      - name: Setup tests
        working-directory: ./projects/tests/
        run: |
          rm -f composer.lock
          rm -rf vendor/
          composer clearcache
          composer update --no-progress --prefer-dist
      - name: "PHPUnit"
        working-directory: ./projects/tests/
        run: "php vendor/bin/phpunit"